/* Apply custom CSS styles for the title slide */
        .title-slide {
            font-size: 18px;
        }

        .title {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .author {
            font-size: 20px;
            margin-bottom: 5px;
        }

        .affiliation {
            font-size: 10px;
            margin-bottom: 1px;
        }

        .email {
            font-size: 14px;
            margin-bottom: 5px;
        }

		.equation {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .equation div {
            font-size: 16px;
            margin-top: 10px;
        }

        /* Style slide titles */
        .slide-title {
            font-size: 24px;
            text-align: center;
        }

        /* Style slide content */
        .slide-content {
            margin-top: 60px; /* Adjust the margin to create space below the title */
        }

        .slide-content ul {
            list-style-type: disc; /* or "decimal" for ordered list */
            padding-left: 20px;
            font-size: 18px;
        }

        .slide-content li {
            margin-bottom: 10px;
        }

        /* Custom CSS for the image caption */
        .caption {
            text-align: center;
            font-style: italic;
            font-size: 16px;
        }