/* Apply custom CSS styles */


         .slide-content ul li {
            font-size: 1.2em; /* Adjust the font size as needed */
            margin-bottom: 15px;
         }

        .twocolumn {
           display: grid;
           grid-template-columns: 1.5fr 1.5fr;
           grid-gap: 60px;
           text-align: left;
        }

        .twocolumn_result {
           display: grid;
           grid-template-columns: 2fr 1fr;
           grid-gap: 20px;
           text-align: left;
        }

        .twocolumn h3 {
          font-size: 1.0em; /* Adjust the font size as needed */
        }

        .twocolumn ul {
          font-size: 0.6em; /* Adjust the font size as needed */
        }

        .twocolumn ul li {
          margin-bottom: 15px; /* Adjust the margin as needed to increase spacing */
        }


        .title-slide {
            font-size: 16px;
        }

        .title {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .author {
            font-size: 24px;
            margin-bottom: 5px;
        }


        .affiliation {
            font-size: 12px;
            margin-bottom: 1px;
        }

        .email {
            font-size: 14px;
            margin-bottom: 5px;
        }

        /* Custom CSS for default paragraph font size */
        p:not(.small-font) {
            font-size: 16px; /* Set the default font size */
        }

        .small-font {
            font-size: 14px; /* Adjust the font size as needed */
        }

        .equation-container {
            display: flex;
            align-items: center;
        }

        .equation {
            flex: 1;
        }

        .equation-label {
            margin-left: 10px;
            font-size: 18px;
        }

		.equation {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .equation div {
            font-size: 16px;
            margin-top: 10px;
        }

        /* Style slide titles */
        .slide-title {
            font-size: 24px;
            text-align: center;
        }

        /* Style slide content */
        .slide-content {
            margin-top: 60px; /* Adjust the margin to create space below the title */
        }

        .slide-content ul {
            list-style-type: disc; /* or "decimal" for ordered list */
            padding-left: 20px;
            font-size: 18px;
        }

        .slide-content li {
            margin-bottom: 10px;
        }

        /* Custom CSS for the image caption */
        .caption {
            text-align: center;
            font-style: italic;
            font-size: 16px;
        }